.form-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('assets/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 3px;
}

.auth-form {
  width: 360px;
}

.is-fullwidth {
  width: 100%;
}

.background-primary {
  background-color: #00c4a7;
}

.mr {
  &-1{
    margin-right: 1rem;
  }
}
