.navbar {
    background-color: #d8d8d8;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
}

.navbar-scrolling {
    background-color: white;
}

.navbar-list {
    display: flex;
    margin: 0 auto;
    padding: 0 15%;
}

.navbar-element-right {
    margin-left: auto;
}
.navbar-link {
    text-transform: uppercase;
    font-size: var(--navbar-font-size);
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 3rem;
    color: var(--secondary-color); 
}

.navbar-link.active {
    color: var(--hover-color); 
}

.navbar-link:hover {
    color: var(--hover-color); 
}